@import "../../colors.css";

.modal {
  height: 3rem;
}

.return {
  margin: 1.5rem;
  background-color: none;
  cursor: pointer;
}

.textContainer {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  height: auto;
  max-height: 40rem;
  overflow-y: auto;
  margin: 7.5rem auto;
  border: 0.5rem solid var(--fifth-color);
  border-radius: 0.85rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.copy {
  margin: 0.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
}

.text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  white-space: pre-wrap;
  padding: 0.75rem 1.25rem;
}

.uncertain {
  background-color: var(--fourth-color);
  border-radius: 0.25rem;
  padding: 0.35rem;
}
@media (max-width: 750px) {
  .container {
    display: block;
  }
  .textContainer {
    max-height: 50vh;
    padding: 0.5rem 0.75rem;
  }
  .text {
    line-height: 0.25rem;
  }
}

@media (min-width: 751px) {
  .textContainer {
    min-width: 25%;
    min-height: 25%;
    padding: 0.5rem 1rem;
  }
  .text {
    line-height: 0.75rem;
  }
}

@media (min-width: 1024px) {
}
