@import "../../colors.css";
.container {
  display: flex;
}

.modal {
  height: 3rem;
}

.button {
  margin: 1rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  max-width: 75%;
  min-height: 25%;
  height: auto;
  margin: 7.5rem auto;
  border: 0.5rem solid red;
  border-radius: 0.85rem;
}

.text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  white-space: pre-wrap;
}

.uncertain {
  background-color: rgba(204, 34, 41, 0.75);
  border-radius: 0.25rem;
  padding: 0 0.2rem;
}

.uncertain {
  background-color: rgba(204, 34, 41, 0.75);
  border-radius: 0.25rem;
  padding: 0 0.2rem;
}
